streamlit
langchain
langchain-community
langchain-classic
langchain-groq
langchain-openai
langchain-huggingface
sentence-transformers
chromadb
langchain-chroma
tiktoken
pypdf
python-dotenv
rank-bm25
numpy
fastapi
uvicorn
